.container{
  width: 90%;
  margin:0 auto;
}




}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column{

  float:left;
}

.col-2{
  width: 45%;
  margin-right:1%;
  border: 3px solid blue;
  padding-left: 5px;
}
body{
  font-family: 'Shojumaru';font-size: 22px;
  background-image:url("../images/space.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  color:#d2eff3;
  }

.profilepic{margin:0 auto;
            height: 295.5px;
            width: 166.25px;}

section{
            float:right;
            width:70%;
          }

aside.primary{
              float:left;
              width:25%;
              margin-right: 2%;
              border: 3px solid blue;
              text-align: center;

            }

aside.primary ul{
              list-style-type: none;
              padding-left: 0;
            }
aside.primary ul li{text-align: center;}

nav ul{padding-left:0}
nav ul li{
                display: inline-block;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 17px;
                list-style-type: none;
                text-align: center;
                width: 25%;
                margin: 0 auto;
                color: #d2eff3;
                margin-right:47px;}
